/Assignment 0/.idea/Assignment 0.iml
/Assignment 0/.idea/misc.xml
/Assignment 0/.idea/modules.xml
/Assignment 0/.idea/workspace.xml
/Assignment 0/.pattern.py.swp
/Assignment 0/__pycache__/NumpyTests.cpython-37.pyc
/Assignment 0/__pycache__/pattern.cpython-37.pyc
/Assignment 0/.idea/vcs.xml
/Assignment 0/__pycache__/generator.cpython-37.pyc
/Assignment 1/.idea/vcs.xml
/Assignment 1/.idea/modules.xml
/Assignment 1/.idea/misc.xml
/Assignment 1/Layers/__pycache__/__init__.cpython-37.pyc
/Assignment 1/Layers/__pycache__/Helpers.cpython-37.pyc
/Assignment 1/.idea/Assignment 1.iml
/Assignment 1/.idea/inspectionProfiles/profiles_settings.xml
/Assignment 1/Optimization/__pycache__/Optimizers.cpython-37.pyc
/Assignment 1/Optimization/__pycache__/__init__.cpython-37.pyc
/Assignment 1/__pycache__/NeuralNetworkTests.cpython-37.pyc
/Assignment 1/Layers/__pycache__/FullyConnected.cpython-37.pyc
/Assignment 0/.idea/inspectionProfiles/profiles_settings.xml
/Assignment 1/.idea/.gitignore
/Assignment 1/Layers/__pycache__/ReLU.cpython-37.pyc
/Assignment 1/Optimization/__pycache__/Loss.cpython-37.pyc
